In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

In [10]:
df_dates = pd.read_csv('data/date_construction.csv', sep = ',')
df_join = pd.read_csv('data/PARCELLE_CADASTRALE.csv', sep = ',')

pd.set_option('display.max_columns', None)

/Users/lilianmarey/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (31) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/lilianmarey/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
display(df_join.head(10))

df_join = df_join[['n_sq_pc', 'c_sec', 'n_pc']]

,OBJECTID,n_sq_pc,c_cainsee,c_sec,n_pc,m2_dgfip,c_asp,c_csp,c_typepc,n_sq_co,n_sq_ar,n_sq_se,Shape_Length,Shape_Area
0,1,910001677.0,91027,H,475,68.0,NaN,91027-H-0475,NaN,910001496.0,NaN,NaN,48.789431,68.455600
1,2,910001679.0,91027,H,86,56.0,NaN,91027-H-0086,NaN,910001496.0,NaN,NaN,30.395349,56.254952
2,3,910001738.0,91027,I,350,77.0,NaN,91027-I-0350,NaN,910001496.0,NaN,NaN,35.208226,77.277874
3,4,910001740.0,91027,I,351,71.0,NaN,91027-I-0351,NaN,910001496.0,NaN,NaN,33.844359,71.253103
4,5,910001742.0,91027,I,352,74.0,NaN,91027-I-0352,NaN,910001496.0,NaN,NaN,34.452046,73.900950
5,6,910003337.0,91027,R,646,558.0,NaN,91027-R-0646,NaN,910001496.0,NaN,NaN,99.191023,557.661300
6,7,910003338.0,91027,R,645,390.0,NaN,91027-R-0645,NaN,910001496.0,NaN,NaN,86.797066,390.290350
7,8,910002227.0,91027,T,422,50.0,NaN,91027-T-0422,NaN,910001496.0,NaN,NaN,33.816337,49.749750
8,9,910002230.0,91027,T,721,57.0,NaN,91027-T-0721,NaN,910001496.0,NaN,NaN,33.161377,56.856417
9,10,910023832.0,91589,AW,170,386.0,NaN,91589-AW-0170,NaN,910001140.0,NaN,NaN,86.803078,386.313650

In [14]:
display(df_dates.head(10))

df_dates = df_dates[['n_sq_pc', 'c_perconst']]

,OBJECTID,n_sq_eb,b_igh,b_er,b_ee,an_const,an_rehab,an_rehabf,c_perconst,b_dalle,b_horspu,h_moy,h_med,h_min,h_max,m2_zinc,m2_tuile,m2_terrveg,m2_ardoise,m2_beton,c_toitdom,n_sq_ar,n_sq_pc,n_sq_pu,c_ens_moy,m2_e_in700,m2_e_70_80,m2_e_80_90,m2_e_90_10,m2_e_s1000,m2_e_tot,c_source,c_morpho,Shape_Length,Shape_Area
0,1,750092416,N,N,N,1933.0,NaN,NaN,5.0,N,N,20.086868,20.1,15.0,22.6,13.0,100.0,0.000000,5.0,5.0,1.0,750000015.0,750041218.0,750046129.0,780.0,61.0,27.0,39.0,26.0,54.0,207.0,NaN,4,90.417718,207.669519
1,2,750111911,N,N,N,1910.0,NaN,NaN,3.0,N,N,18.659475,18.4,13.5,27.6,109.0,4.0,0.000000,32.0,0.0,2.0,750000015.0,750046001.0,750044785.0,643.0,113.0,28.0,32.0,22.0,11.0,206.0,NaN,4,67.374241,204.870376
2,3,750110170,N,N,N,1897.0,NaN,NaN,3.0,O,N,7.354403,6.5,3.5,23.6,38.0,3.0,0.000000,5.0,16.0,2.0,750000014.0,750037862.0,750037682.0,405.0,129.0,6.0,0.0,0.0,0.0,135.0,NaN,1,58.528564,134.396968
3,4,750120790,N,N,N,NaN,NaN,NaN,3.0,N,N,19.028341,19.1,16.4,20.3,185.0,21.0,0.000000,47.0,13.0,2.0,750000019.0,750066071.0,750066167.0,815.0,89.0,42.0,81.0,39.0,109.0,360.0,NaN,4,94.007567,360.347001
4,5,750052842,N,N,N,1962.0,NaN,NaN,6.0,O,N,7.561275,6.4,0.6,23.9,1.0,0.0,231.916856,0.0,0.0,5.0,750000020.0,750071640.0,750073807.0,385.0,260.0,13.0,2.0,0.0,0.0,275.0,NaN,2,104.103984,275.030131
5,6,750044427,N,N,N,NaN,NaN,NaN,3.0,N,N,12.672781,13.8,2.8,21.1,107.0,1.0,0.000000,0.0,0.0,2.0,750000015.0,750045988.0,750040744.0,450.0,162.0,22.0,13.0,1.0,1.0,199.0,NaN,4,70.447843,200.329386
6,7,750094891,N,N,N,1882.0,NaN,NaN,3.0,N,N,18.755357,18.8,13.4,20.0,93.0,3.0,0.000000,2.0,0.0,2.0,750000015.0,750045698.0,750045871.0,765.0,50.0,24.0,16.0,19.0,33.0,142.0,NaN,4,47.332908,143.366383
7,8,750103633,N,N,N,1910.0,NaN,NaN,3.0,N,N,22.000601,22.2,13.8,23.0,93.0,0.0,0.000000,1.0,1.0,2.0,750000015.0,750042977.0,750042299.0,901.0,25.0,14.0,24.0,30.0,56.0,149.0,NaN,4,55.167418,149.199437
8,9,750034582,N,N,N,NaN,NaN,NaN,3.0,N,N,12.724235,12.2,10.8,16.6,9.0,52.0,0.000000,8.0,1.0,1.0,750000020.0,750070820.0,750070597.0,606.0,51.0,7.0,13.0,8.0,6.0,85.0,NaN,4,37.149167,84.496209
9,10,750059649,N,N,N,1923.0,NaN,NaN,5.0,N,N,14.675439,14.7,13.2,16.5,28.0,1.0,0.000000,17.0,8.0,2.0,750000016.0,750049401.0,750051330.0,664.0,40.0,19.0,20.0,3.0,0.0,82.0,NaN,4,40.091622,82.341594

In [15]:
display(df_join.head(10))

display(df_dates.head(10))

       n_sq_pc c_sec  n_pc
0  910001677.0     H   475
1  910001679.0     H    86
2  910001738.0     I   350
3  910001740.0     I   351
4  910001742.0     I   352
5  910003337.0     R   646
6  910003338.0     R   645
7  910002227.0     T   422
8  910002230.0     T   721
9  910023832.0    AW   170

       n_sq_pc  c_perconst
0  750041218.0         5.0
1  750046001.0         3.0
2  750037862.0         3.0
3  750066071.0         3.0
4  750071640.0         6.0
5  750045988.0         3.0
6  750045698.0         3.0
7  750042977.0         3.0
8  750070820.0         3.0
9  750049401.0         5.0

In [20]:
df_dates = df_dates.merge(df_join, left_on = 'n_sq_pc', right_on = 'n_sq_pc')

In [21]:
df_dates.drop(columns = ['n_sq_pc'])

        c_perconst c_sec  n_pc
0              5.0    FX    57
1              3.0    EF     1
2              5.0    EF     1
3              3.0    BT    61
4              3.0    BT    61
...            ...   ...   ...
126809        12.0    DE    21
126810        12.0    CV    45
126811        12.0    CV    26
126812        12.0    CE    95
126813        12.0    DA    63

[126814 rows x 3 columns]

In [24]:
df0 = pd.read_csv('data/valeursfoncieres-2019.txt', sep = '|')
df = df0[[
        'Date mutation', 'Nature mutation', 'Valeur fonciere',
        'No voie', 'Type de voie', 'Code voie', 'Voie', 'Code postal',
        'Commune', 'Code departement', 'Code commune', 'Type local',
        'Surface reelle bati', 'Nombre pieces principales', 'Surface terrain', 'Section', 'No plan'
        ]]

/Users/lilianmarey/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (18,23,24,26,28,29,31,33,41) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [37]:
df = df.rename(columns = {
                            'No plan': 'No_plan'
                         }
              )
df = df.head(1000)

In [38]:
df['id'] = df.apply(lambda row: str(row.Section) + str(row.No_plan), axis = 1)

In [40]:
df_dates['id'] = df_dates.apply(lambda row: str(row.c_sec) + str(row.n_pc), axis = 1)

In [41]:
df = df.merge(df_dates, left_on = 'id', right_on = 'id')

In [42]:
df

,Date mutation,Nature mutation,Valeur fonciere,No voie,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,Code commune,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain,Section,No_plan,id,n_sq_pc,c_perconst,c_sec,n_pc
0,04/01/2019,Vente,"185100,00",22.0,RUE,1650,GEN DELESTRAINT,1000.0,BOURG-EN-BRESSE,1,53,Appartement,62.0,3.0,NaN,AM,95,AM95,750036860.0,2.0,AM,95
1,04/01/2019,Vente,"185100,00",22.0,RUE,1650,GEN DELESTRAINT,1000.0,BOURG-EN-BRESSE,1,53,Appartement,62.0,3.0,NaN,AM,95,AM95,750036860.0,3.0,AM,95
2,04/01/2019,Vente,"185100,00",22.0,RUE,1650,GEN DELESTRAINT,1000.0,BOURG-EN-BRESSE,1,53,Appartement,62.0,3.0,NaN,AM,95,AM95,750036860.0,3.0,AM,95
3,04/01/2019,Vente,"185100,00",22.0,RUE,1650,GEN DELESTRAINT,1000.0,BOURG-EN-BRESSE,1,53,Appartement,62.0,3.0,NaN,AM,95,AM95,750036860.0,3.0,AM,95
4,04/01/2019,Vente,"185100,00",22.0,RUE,1650,GEN DELESTRAINT,1000.0,BOURG-EN-BRESSE,1,53,Appartement,62.0,3.0,NaN,AM,95,AM95,750002977.0,1.0,AM,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2504,08/02/2019,Vente,"176400,00",1414.0,RTE,0020,DE CONFRANCON,1310.0,CONFRANCON,1,115,Maison,122.0,5.0,617.0,AA,45,AA45,750030429.0,9.0,AA,45
2505,25/02/2019,Vente,"328000,00",224.0,RUE,0475,DE LA VILLE,1160.0,NEUVILLE-SUR-AIN,1,273,Dépendance,0.0,0.0,979.0,AB,158,AB158,750009253.0,3.0,AB,158
2506,25/02/2019,Vente,"328000,00",224.0,RUE,0475,DE LA VILLE,1160.0,NEUVILLE-SUR-AIN,1,273,Dépendance,0.0,0.0,979.0,AB,158,AB158,750009253.0,3.0,AB,158
2507,25/02/2019,Vente,"328000,00",224.0,RUE,0475,DE LA VILLE,1160.0,NEUVILLE-SUR-AIN,1,273,Maison,107.0,4.0,979.0,AB,158,AB158,750009253.0,3.0,AB,158
2508,25/02/2019,Vente,"328000,00",224.0,RUE,0475,DE LA VILLE,1160.0,NEUVILLE-SUR-AIN,1,273,Maison,107.0,4.0,979.0,AB,158,AB158,750009253.0,3.0,AB,158